<div xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout}" layout:fragment="content">

    <main class="container">
        <h1>NOUVELLE NOTE</h1><br>           
        <div class="card">
         <form th:action="@{/patient/{patId}/new_note(patId=${note.patId})}" method="post" enctype="multipart/form-data" th:object="${note}" style="margin: 10px 50px 10px;">
        
           <input type="hidden" th:field="*{patId}" />
        
           <div class="p-3">
             <div class="form-group row">
               <label class="col-2 col-form-label" for="notes">Note</label>
               <div class="col-10">
                 <input type="text" th:field="*{notes}" required minlength="2" maxlength="256" class="form-control"
                   id="notes" />
               </div>
             </div>      
             <br>
             <div class="d-flex flex-row-reverse">
               <input type="submit" value="Save" class="btn btn-primary" />
             </div>
           </div>
         </form>
        </div>
   </main>
</div>