<div xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout}" layout:fragment="content">

    <main class="container">
        <h1>NOUVELLE NOTE POUR LE PATIENT <span th:text="${noteForm.patient}"></span></h1><br>

        <div class="card">
            <form th:action="@{/note}" method="post" enctype="multipart/form-data" th:object="${noteForm}" style="margin: 10px 50px 10px;">

                <input type="hidden" th:field="*{patId}" />
                <input type="hidden" th:field="*{patient}" />

                <div class="p-3">
                    <div class="form-group row">
                        <label class="col-2 col-form-label" for="notes">Note</label>
                        <div class="col-10">
                            <input type="text" th:field="*{notes}" required minlength="2" maxlength="256" class="form-control"
                                   id="notes" />
                        </div>
                    </div>
                    <br>
                    <div class="d-flex flex-row-reverse">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>